@import "../../../colors.css";

.register-container .form-container .edit-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.stack-container {
  display: flex;
}

form .stack-container .product-category {
  width: 100%;
}

.img-label span {
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.form-container input {
  background-color: var(--light-orange);
}

.form-container .product-category {
  background-color: var(--light-orange);
}

.form-container .description {
  background-color: var(--light-orange);
}

.form-container .submit-form {
  background-color: var(--dark-orange);
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-size: 16px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: forestgreen;
  font-weight: bold;
}

.img-input {
  display: none;
}
