.recommended-container {
  display: flex;
  flex-direction: column;
  
}

.card-recommended-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.recommended-container .title {
  font-size: 1.2rem;
  text-align: left;
}

@media (max-width: 375px) {
  .card-recommended-container {
    display: flex;
    gap:25px;
  }
}
