.recommended-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-recommended-container {
  display: flex;
  gap: 20px;
}

.recommended-container .title {
  text-align: center;
}
