.recommended-container {
  display: flex;
  flex-direction: column;
}

.card-recommended-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.recommended-container .title {
  font-size: 1.2rem;
  text-align: left;
}

@media (max-width: 769px) {
  .card-recommended-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}

@media (max-width: 500px) {
  .card-recommended-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
