* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;  /* Esto hace que los elementos hijos de body se apilen verticalmente */
  min-height: 100vh;  /* Esto hace que el body tenga al menos la altura de la ventana de visualización */
}
.reservations-container{
    padding: 1rem;
    
  }
  .reservations-container h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) and (min-width: 426px){
    .reservations-container{
      padding: 0rem;
      min-height: 460px;
    }
    .reservations-container h1{
      font-size: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
  }
  
  @media (max-width: 425px) {
    .reservations-container{
      padding: 0rem;
    }
    .reservations-container h1{
      font-size: 1rem;
      margin: 1rem;
      text-align: center;
    }
  }