@import "../../colors.css";

.header-container {
  background-color: var(--dark-orange);
  margin: 0px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: var(--black-color) 0px 5px 25px;
  width: 100dvw;
}

.header-container a {
  text-decoration: none;
}

h1 {
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.logo-container {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  gap: 1.3rem;
  padding-left: 0px;
}

.nav-bar ul li {
  list-style-type: none;
}

.nombre-frase {
  display: flex;
  flex-direction: column;
}

li .crear-cuenta {
  display: flex;
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 40px;
}

li .crear-cuenta:hover {
  background-color: var(--green);
}

li .iniciar-sesion {
  display: flex;
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 40px;
}

li .iniciar-sesion:hover {
  background-color: var(--green);
}

.nombre-frase h2 {
  color: var(--black-color);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.nombre-frase h1 {
  color: var(--black-color);
  font-family: Orbitron;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 769px) {
  .nombre-frase {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav-bar ul {
    flex-direction: column;
  }

  li .iniciar-sesion {
    font-size: 14px;
  }

  li .crear-cuenta {
    font-size: 14px;
  }
}

.logo-img {
  height: 4rem;
}
.avatar {
  width: 2rem;
  height: 1.5rem;
}

.user-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.user-container h6 {
  margin: 0;
}

.cerrar-sesion {
  display: flex;
  padding: 6px 17px;
  border-radius: 40px;
  height: 40px;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px;
}

@media (max-width: 375px) {
  .header-box {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }

  .user-container {
    flex-direction: column;
  }

  .header-container button,
  h3 {
    height: 1.5rem;
    font-size: 0.6rem;
  }
  .header-container {
    display: flex;
    justify-content: space-around;
  }
}
