.header-container {
  background-color: #ffa833;
  margin: 0px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: #000000 10px 10px 55px;
  width: 100dvw;
}

.header-container a {
  text-decoration: none;
}

h1 {
  margin: 0px;
  
}


.logo-container {
  display: flex;
  gap: 15px;
  align-items: center;

}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  gap: 1.3rem;
  padding-left: 0px;
}

.nav-bar ul li {
  list-style-type: none;
}

.nombre-frase {
  display: flex;
  flex-direction: column;
}



li .crear-cuenta {
  display: flex;
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  color: black;
  background-color: aliceblue;
  border-radius: 40px;
}

li .crear-cuenta:hover {
  background-color: #6ec5b8;
}

li .iniciar-sesion {
  display: flex;
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  color: black;
  background-color: aliceblue;
  border-radius: 40px;
}

li .iniciar-sesion:hover {
  background-color: #6ec5b8;
}

.nombre-frase h2 {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.nombre-frase h1 {
  color: #000;
  font-family: Orbitron;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 769px) {
  .nombre-frase {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav-bar ul {
    flex-direction: column;
  }

  li .iniciar-sesion {
    font-size: 14px;
  }

  li .crear-cuenta {
    font-size: 14px;
  }
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cerrar-sesion {
  display: flex;
  padding: 6px 17px;
  border-radius: 40px;
  height: 40px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}
