.footer-container {
  background-color: #000000;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.logo-copyright-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  font: Roboto;
}

.copyrihtPolicies{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.copyright-responsive {
  display: none;

}
.isologotipo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.isologotipo img {
  height: 3rem;
  
}

.socialMedia {
  color: white;
  display: flex;
  gap: 1rem;

  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 425px) {
  .copyright {
    display: none;
  }

  .copyright-responsive {
    display: block;
    font-size: 0.75rem;
    color: white;
  }
  .socialMedia {
    font-size: 1.2rem;
  }
  .isologotipo img {
    width: 40px;
    margin-left: 0px;
  }
}
a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
a:hover {
  color: #ffb800;
  text-decoration: underline;
}
a :visited {
  color: initial;
}

p {
  color: white;
  font-size: 0.8rem;
  margin: 0%;
}
.socialMedia div:hover {
  color: #ffb800;
  scale: 1.1;

}