@import "../../../colors.css";

.form-container.add-images {
  width: 1018px;
}

.add-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-form {
  width: 60%;
}

.add-images .add-button {
  background-color: var(--dark-orange);
}

.add-images .delete-button {
  background-color: var(--delete-red);
}

.add-images .edit-button {
  background-color: var(--confirm-green);
}
