.card-container {
  height: auto;
  width: 800px;
}
.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-container .favorite {
  padding: 0;
}

.card-container:hover {
  cursor: pointer;
}

.card-container .card-content:last-child {
  padding-bottom: 16px;
}

.card-info {
  display: flex;
}

.card-info.row {
  flex-direction: row;
}

.card-info.column {
  flex-direction: column;
}

.row .product-image {
  width: 50%;
  height: fit-content;
  padding: 2%;
}

.card-content .ver-mas {
  padding: 0px;
}

.favorite:hover{
  transform: scale(1.2);
  

}
.card-container:hover{
  box-shadow: rgb(96, 96, 96) 0px 2px 5px;
  transform: scale(1.03);
}