.card-container {
  height: auto;
  width: 800px;
}

.card-container:hover {
  cursor: pointer;
}

.card-container .card-content:last-child {
  padding-bottom: 16px;
}

.card-info {
  display: flex;
}

.card-info.row {
  display: flex;
}

.card-info.column {
  flex-direction: column;
}

.row .product-image {
  width: 50%;
  height: fit-content;
  padding: 2%;
  max-height: 10rem;
}

.card-content .ver-mas {
  padding: 0px;
}



@media (max-width: 767px) {
  .row .product-image {
    width: 100%;
    height: fit-content;
    padding: 2%;
  }

  .card-info.row {
  flex-direction: column;
  justify-content: center;
}
}