.card-categories-container .card-container {
  height: auto;
  width: 280px;
}
.card-container .card-content:last-child {
  padding-bottom: 16px;
}

.card-info {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.card-info.row {
  flex-direction: row;
}

.card-info.column {
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: fit-content;
}

.row .product-image {
  width: 50%;
  height: fit-content;
  padding: 2%;
}

.card-content .ver-mas {
  padding: 0px;
}
