.card-container {
  height: auto;
  width: 800px;
}

.card-container:hover {
  cursor: pointer;
}

.card-container .card-content:last-child {
  padding-bottom: 16px;
}

.card-info {
  display: flex;
}

.card-info.row {
  flex-direction: row;
}

.card-info.column {
  flex-direction: column;
}

.row .product-image {
  width: 50%;
  height: fit-content;
  padding: 2%;
}

.card-content .ver-mas {
  padding: 0px;
}
