body {
  margin: 0px;
  font-family: Inter, sans-serif;
  color: #121212;
}



.page-container {
  padding: 36px;
}

.body {
  background:  #cac8c8;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 36px;
}

.body .button {
  font: inherit;
  font-size: 14px;
}

.body table .table-header {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.15rem;
}

.body table td {
  font: inherit;
}

.body table th {
  font: inherit;
}

.body input {
  font: inherit;
}

