@import "./colors.css";

body {
  margin: 0px;
  font-family: Inter, sans-serif;
  color: var(--black-color);
}

.page-container {
  padding-right: 36px;
  padding-left: 36px;
  min-height: calc(100vh - 177px);
  background-color: var(--gray);
}

.body {
  background-color: var(--light-orange);
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  height: 100%;
}

.padding {
  padding-top: 36px;
  padding-bottom: 36px;
}

.body .button {
  font: inherit;
  font-size: 14px;
}

.body table .table-header {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.15rem;
}

.body table td {
  font: inherit;
}

.body table th {
  font: inherit;
}

.body input {
  font: inherit;
}

.body hr {
  background: var(--black-color);
  color: var(--black-color);
  border-color: var(--black-color);
  height: 1px;
  width: 100%;
  border-radius: 50%;
}
