@import "../../colors.css";

.rent {
  width: auto;
  padding: 60px;
  flex-direction: row;
}

.titulo {
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 10px;
}

.info {
  gap: 30px;
  display: flex;
}

.datos .botones .accion_alquilar {
  background-color: var(--confirm-green);
  color: var(--white-color);
  border: none;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
}

.reserva_confirmada .accion_enviarMail {
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
}

.datos .botones .accion_volverAtras {
  background-color: var(--dark-gray);
  color: var(--white-color);
  border: none;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.datos_reserva {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reserva_confirmada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
