@import "../../../colors.css";

.admin-table-container .table-container {
  padding: 20px;
  margin: 24px;
  width: 90%;
  align-self: center;
}

.table-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.table-buttons .button-delete {
  color: var(--delete-red);
  border-color: var(--delete-red);
}

.table-buttons .button-edit {
  background-color: var(--confirm-green);
}

.product-link {
  color: blue;
  font-size: 16px;
}
