.termsBody {
  margin: 50px auto;
  width: 70%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.terms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.terms-top {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.buttonPolicies {
  background-color: white;
  color: #ffb800;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.375rem 1.0625rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  border: 0;
}

.buttonPolicies:hover {
  background-color: #ffb800;
  color: white;
  transition: 0.5s;
}

.terms li {
  list-style: none;
}

.terms-bullet {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.terms-title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.terms-discrecion {
  font-size: 0.8rem;
  text-align: center;
  color: black;
}

.terms-descripcion {
  font-size: 1rem;
color: black;

}
