@import "../../colors.css";

.policiesBody {
  margin: 50px auto;
  width: 70%;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.policies {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.policies-top {
  display: flex;
  align-items: center;
  padding: 0 40px; 
  height: 100px;

}

.policies li {
  list-style: none;
  margin-bottom: 50px;
}

.policies-bullet {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.policies-title {
  text-decoration:underline;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.policies-discrecion {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  color: var(--black-color);
}

.policies-descripcion {
  font-size: 1rem;
  color: var(--black-color);
}

.button-Back{
  background-color: var(--white-color);
  text-align: right;
  cursor: pointer;
  border-radius: 15px;
  padding: 6px 17px;
  margin-right: 1rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.button-Back:hover {
  background-color: var(--white-color);
  box-shadow: 4px 4px 15px rgba(1, 1, 1, 0.504);
}
