@import "../../colors.css";


.policiesBody {
  margin: 50px auto;
  width: 70%;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.policies {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px 40px 40px;
}

.policies-top {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.button-Back {
  background-color: var(--white-color);
  color: var(--dark-orange);
  cursor: pointer;
  border-radius: 20px;
  padding: 0.375rem 1.0625rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  border: 0;
}

.button-Back:hover {
  background-color: var(--dark-orange);
  color: var(--white-color);
  transition: 0.5s;
}

.terms li {
  list-style: none;
  margin-bottom: 50px;
}

.policies-bullet {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.terms-title {
  text-decoration:underline;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

.policies-discrecion {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  color: var(--black-color);
}

.policies-descripcion {
  font-size: 1rem;
  color: var(--black-color);
}
