.detail-container.body {
    height: auto;
}


.view {
    display: flex;
    width: 90vw;
    height: auto;
    margin:4rem;
    gap:1rem

}

@media (max-width: 2000px) {
    .detail-container {
        gap: 50px;
    }

    .view {
        flex-direction: row;
    }
}

@media (max-width:768px) {

    .view {
        flex-direction: column-reverse;
        width: 90%;
    }
}

@media (max-width: 375px) {
    .view {
        flex-direction: column-reverse;
        width: 95%;
        height: auto;
    }
}