.view {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    height: auto;
    padding:3rem;
    gap:1rem;
    margin: 8.5% 0;
    

}



@media (max-width:769px) and (min-width: 426px) {

    .view {
        flex-direction: column-reverse;
        width: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 425px) and (min-width: 319px){
    .view {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}