
.detail-container{

    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px
}

.view{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(202, 198, 198);
    padding: 50px;
    
}

@media (min-width: 2000px) {

    .detail-container{
        gap:100px
    }
    .view{
        flex-direction: row;
        gap: 50px;
        max-width: 80vw;
    }
}