.table-Container{
    padding: 2rem;
    margin: 2rem;
    width: 80%;
    border: 1px solid var(--black-color)
}
    .table-body{
    width: 80%;
    padding:2rem;
}

.filter-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 1.5rem;
    
    border-bottom: 1px solid var(--black-color);
}
