.categories-container {
  display: flex;
  flex-direction: column;
}

.categories-container .title {
  font-size: 1.2rem;
  text-align: left;
}

.card-categories-container {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
