.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.categories-container .title {
  text-align: center;
}

.card-categories-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
