.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-container .title {
  text-align: center;
}

.card-categories-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
