@import "../../colors.css";

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.product-details-description {
  font-size: 1.2rem;
  color: var(--black-color);
  margin-top: 8px;
}

.view {
  background-color: rgba(201, 201, 201, 0.56);
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.647);
}
.product-details-container {
  height: auto;
  padding: 16px;
  background-color: var(--white-color);
  gap: 50px;
}

.product-details-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-details-title {
  width: auto;
  height: auto;
  color: black;
  font-size: 1rem;
  text-align: left;
}

.description{
  width: auto; 
  height: auto;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  padding: 0 1rem;
}

.product-details-back-button {
  background-color: var(--white-color);
  margin-right: 5%;
  text-align: right;
  cursor: pointer;
  border-radius: 15px;
  padding: 6px 17px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.product-details-back-button:hover {
  background-color: var(--white-color);
  box-shadow: 4px 4px 15px rgba(1, 1, 1, 0.504);
}

.product-details-body{
  width: 95%;
  padding:1rem;
}
.lower-cnt{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lower-cnt .date-calendar {
  margin: 0;
}

.calendar-title {
  text-align: center;
}

.product-details-features{
  width: 50%;
  text-align: left;
  background-color: #dad8d8;
  font-size: 0.85rem;
}
.products-feature{
  padding: 0.7rem;
  color:black;
}
.calendar{
  border-left: 2px solid grey;
  background-color: white;
  width: 50%;
  font-size: 0.85rem;
  text-align: left;
  padding-left: 1rem;
}

@media (max-width: 769px) and (min-width: 426px){

  .details-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align:justify;
  }
  .product-details-container{
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align:justify;
  }

  .product-details-title {
    font-size: 1rem;
  }
  .product-details-features{
    text-align: left;
    width: 50%;

  }
  .product-details-header{
    width: 95%;
  }

  .products-feature{
    padding: 1rem;
  }
  .lower-cnt{
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 425px) and (min-width: 319px){

    h4{
      padding-left: 0.5rem;
    }
  .view{
    align-items: center;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .product-details-header{
    width: 90%;
  }
  .product-details-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align:justify;
  
  }
  .lower-cnt{
    flex-direction: column;
  }
  .product-details-title {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
  .product-details-description {
    justify-content: center;
    width: 100%;
    gap: 30px;
    font-size: 0.8rem;
  }
  
  .calendar{
    border: none;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
  }
  .product-details-back-button {
    margin: 0px;
    padding: 6px 20px;
    font-size: 15px;
  }
  
}


