h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.6rem;
}

.view {
  background-color: rgba(201, 201, 201, 0.56);
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.647);
}
.product-details-container {
  width: 50vw;
  height: auto;
  margin: 50px;
  padding: 50px;
  background-color: #f2f2f2;
  gap: 50px;
}

.product-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-details-title {
  text-align: left;

  margin: 0;
}

.product-details-back-button {
  background-color: #ffffff;
  margin-right: 5%;
  text-align: right;
  cursor: pointer;
  border-radius: 15px;
  padding: 6px 17px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.product-details-back-button:hover {
  background-color: #ffffff;
  box-shadow: 4px 4px 15px rgba(1, 1, 1, 0.504);
}

@media (max-width: 2000px) {
  .view {
    gap: 50px;
  }

  .product-details-title {
    text-align: center;
    margin: 0;
  }

  .product-details-body {
    align-items: center;
  }

  .product-details-back-button {
    gap: 10px;
    padding: 6px 30px;
  }
}

@media (min-width: 768px) {
  .product-details-container {
    margin: 0px;
    padding: 50px;
  }

  .product-details-back-button {
    margin: 0;
    padding: 6px 30px;
  }
}

.products-feature {
  margin: 2px;
  margin-top: 5px;
  padding: 0;
  font-size: 14px;
}

.products-feature svg {
  padding-right: 10px;
}

.product-details-features {
  padding-top: 10px;
}
