@import "../../colors.css";

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Esto añade un fondo oscuro semi-transparente */
}
::-webkit-scrollbar {
  display: none;
}
.carousel-container {
  position: relative;
  overflow-x: hidden;
  scrollbar-width: none; /* Añade espacio a los lados para las flechas */
  background-color: var(--dark-orange);
  padding: 3rem;
  width: 60vw;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  gap: 1rem;
}

.carousel-item {
  
  flex: 0 0 auto;
  width: 15rem;
  height: 15rem;
  margin-right: 10px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-close-button {
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  background-color: aliceblue;
  color: var(--black-color);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  z-index: 1;
}

.carousel-arrow-left {
  left: 16%;
}
.carousel-arrow-right {
  right: 16%;
}
.carousel-arrow-left :hover {
  scale: 1.1;
}

.carousel-arrow-right :hover {
  scale: 1.1;
}
.carousel-arrow-left,
.carousel-arrow-right {
  animation: blink 1.3s linear infinite;
}

@media (max-width: 769px) and (min-width: 426px) {
  .carousel-container {
    padding: 2rem;
    margin: 0;
    width: 85vw;
    height: 50vh;
  }
  .carousel-item {
    width: 20rem;
    height: 20rem;
  }
  .carousel-arrow-right {
    right: 50px;
    font-size: 4rem;
  }
  .carousel-arrow-left {
    left: 50px;
    font-size: 4rem;
  }
}

@media (max-width: 425px) and (min-width: 319px) {
  .carousel-container {
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    width: 90vw;
    height: 40vh;
  }
  .carousel-item {
    width: 12rem;
    height: 13rem;
  }

  .carousel-arrow-right {
    right: 20px;
    font-size: 4rem;
  }
  .carousel-arrow-left {
    left: 20px;
    font-size: 4rem;
  }
}