@import "../../colors.css";

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 193, 193, 0.5); /* Esto añade un fondo oscuro semi-transparente */
  z-index: 3;
}
::-webkit-scrollbar {
  display: none;
}
.carousel-container {
  border: 1px solid var(--black-color);
  position: relative;
  overflow: visible;
  white-space: nowrap;
  scrollbar-width: none; /* Añade espacio a los lados para las flechas */
  background-color: var(--dark-gray);
  box-shadow: 0px 0px 20px 15px rgba(255, 255, 255);
  padding: 3rem;
  padding-left: 1050px;
  width: 80%;
  height: 400px;
  display: flex;
  
  justify-content: space-around;
  overflow-x: scroll;
  gap: 1rem;
  z-index: 2;
}

.carousel-item {
  flex-grow: 1;
  flex-shrink: 0;
}

.carousel-item img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--black-color);
}

.carousel-close-button {
  padding: 6px 17px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.carousel-arrow {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 485px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 3;
}

.carousel-arrow-left {
  left: 11%;
  animation: blink 1.3s linear infinite;
  
  
}
.carousel-arrow-right, .carousel-arrow-right {
  right: 11%;
  z-index: 3;
  scale: 1.1;
  animation: blink 1.3s linear infinite;
}



@media (max-width: 769px) and (min-width: 426px) {
  .carousel-container {
    padding: 1.5rem;
    padding-left: 240px;
    width: auto;
    height:390px;
  }
  .carousel-item {
    width: 18rem;
    height: 18rem;
  }
  .carousel-arrow{
    top: 460px;
  }

  .carousel-arrow-right {
    right: 40px;
    font-size: 2.5rem;
  }
  .carousel-arrow-left {
    left: 40px;
    font-size: 2.5rem;
  }
}

@media (max-width: 425px) and (min-width: 319px) {
  .carousel-container {
    box-shadow: 0px 0px 20px 6px rgba(255, 255, 255);
    align-items: top;
    gap: 0.5rem;
    width: auto;
    height: 350px;
    padding-left:480px;
    padding-right: 100px;
  }
  .carousel-item {
    width: 15rem;
    height: 15rem;
  }
  .carousel-arrow{
    top: 450px;
  }

  .carousel-arrow-right {
    right: 20px;
    font-size: 2.5rem;
  }
  .carousel-arrow-left {
    left: 20px;
    font-size: 2.5rem;
  }
}
