@import "../../colors.css";

.back-button {
  background-color: var(--white-color);
  text-align: right;
  cursor: pointer;
  border-radius: 15px;
  padding: 6px 17px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.favs{
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 40px;
}
.favs img {
  width: 12rem;
  
}

.column.card-info{
  justify-content: center;
  align-items: center;
}

.terms-top {
  gap: 10rem;
  padding: 3rem 8rem 0rem 8.2rem;
  justify-content: space-between;
  background-color: rgb(218, 218, 218);
  font-size: 0.5rem;
  text-align: left;
}

@media(max-width: 768px) {
  .terms-top {
    padding: 3rem 2rem 0rem 2rem;
    gap: 0rem;
  }
}