.body-container {
  background-color: #fdf5de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 769px) {
  .card-categories-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-recommended-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 391px) {
  .card-categories-container {
    flex-direction: column;
  }

  .card-recommended-container {
    flex-direction: column;
  }

  .card-categories-container button .image-container {
    display: none;
  }

  .card-recommended-container .product-description {
    display: none;
  }

  .searchbar-container form div {
    width: 300px;
  }
}
