.listView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 2.5rem;
}

/* Para móviles */
@media (max-width: 375px) {
    .listView {
        width: 100%;;
        display: flex;
        flex-direction: column;
    }



}

/* Para tabletas y desktop */
@media (max-width: 768px) {
    .listView {
        display: flex;
        flex-direction: column;
        height: auto;
        gap:1rem;
        /* Dos columnas */
        justify-content: center;
    }

}