.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  gap: 1rem;
}
.searchbar-description {
  margin: 0px;
  font-size: 16px;
  color: #232b2b;
}
.searchbar-input {
  background-color: white;
}

.searchbar-input.text-input {
  width: 30vw;
}

.searchbar-input.date-input {
  width: 20vw;
}

.searchbar-title {
  text-align: center;
}

.searchbar-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
