.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  gap: 2rem;
}

.searchbar-input {
  width: 45vw;
  background-color: white;
}

.searchbar-title {
  text-align: center;
}

.searchbar-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
