@import "../../colors.css";

.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2.5rem;
}
.searchbar-description {
  margin: 0px;
  font-size: 16px;
  color: var(--black-color);
}
.searchbar-input {
  background-color: white;
}

.searchbar-input.text-input {
  width: 25vw;
}

.searchbar-input.date-input {
  width: 15vw;
}

.searchbar-title {
  text-align: center;
}

.searchbar-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .searchbar-container form {
    flex-direction: column;
  }

  .searchbar-input.text-input,
  .searchbar-input.date-input {
    width: 100%;
  }
}
.suggestions-title {
  margin: 0;
}

.suggestions .suggestion {
  font-size: 14px;
  cursor: pointer;
}
