@import "../../../colors.css";

.form-container {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  padding: 30px;
}

.titulo-description {
  width: auto;
}

.categories-box .category-description {
  width: 500px;
}

.categories-box .category-name {
  width: 300px;
}
